<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Employee</title>
</head>
<body>

<h2>Create New Employee</h2>

<form id="employeeForm">

    <input type="text" id="firstName" placeholder="First Name" required><br><br>
    <input type="text" id="lastName" placeholder="Last Name" required><br><br>
    <input type="email" id="email" placeholder="Email" required><br><br>
    <input type="text" id="username" placeholder="Username" required><br><br>
    <input type="password" id="password" placeholder="Password" required><br><br>

    <button type="submit">Save</button>
</form>

<script>
    document.getElementById("employeeForm")
        .addEventListener("submit", async function (e) {

        e.preventDefault();

        const data = {
            firstName: firstName.value,
            lastName: lastName.value,
            email: email.value,
            username: username.value,
            password: password.value
        };

        const response = await fetch("/management/api/employee", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        const result = await response.json();

        if (response.ok) {
            alert(result.message);
            window.location.href = "/management/employee";
        } else {
            alert(result.message);
        }
    });
</script>

</body>
</html>